bin/
obj/

.vs/
*.user
*.suo
*.userprefs

appsettings.json
appsettings.Development.json

.env
docker-compose.override.yml

node_modules/

logs/
*.log
*.tmp

# Migrations/

.nuget/
packages/

.idea/
*.sln.iml

.vscode/